.sidenav{
  background-color: #00697A;
  color: white;
  overflow:hidden;
}

.sidenav:hover{
  overflow: auto;
}

.sidenav  li > a{
  color: white !important;
}

.sidenav  li > a > i{
  color: white !important;
}

.sidenav .subheader{
  color: #3aa2af;
}

.mainContent{
  padding-left: 300px;
}

@media only screen and (max-width: 992px){
  .mainContent{
    padding-left: 0;
  }
}

.logo{
  max-width: 95%;
  padding: 10px;
}

.sidenav .collapsible-header{
  padding-left: 32px;
  padding-right: 32px;
}

.sidenav .collapsible-body{
  padding-left: 32px;
  padding-right: 32px;
  background-color: inherit;
}

header{
  background-image: linear-gradient(to right top, #006a74, #008b7f, #2fab76, #7fc75d, #d4dc40);
  padding: 20px;
  min-height: 200px;
}

header h3,h1{
  margin: 0px;
  padding: 3px;
  color: white;
}

.hamburguerMenu a{
  color: white !important;
  font-size: 24px;
  border-radius: 5px;
  background-color: rgba(225, 225, 225, 0.5);
  padding:5px;
}

.currentPage{
  background-color: #008da4 !important;
}

.pet{
  max-width: 20%;
}

.block{
  clear:both;
}

.card{
  min-height: 200px;
}

.sidenav .collapsible-body{
  padding: 0px;
}

.sidenav .collapsible-body li a{
  padding: 0 23.5px 0 73px;
}

.container{
  padding-top: 15px;
  padding-bottom: 15px;
}

.preview{
  max-width: 50%;
}

.hidden{
  display:none;
}
