.mainGradient{
  background-image: linear-gradient(to left bottom, #d4dc40, #78c861, #12ac7d, #008b88, #00697a);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo{
  padding: 30px;
  max-width: 70%;
}

.loginCard{
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 5% auto 5% auto;
}

.loginCard:hover{
  background-color: rgba(255, 255, 255, 0.95);
}

.pet{
  width: 70%;
  padding: 15px;
}

.loginForm{
  padding: 10px;
}

.loginTittle{
    margin-top: 5px;
    font-weight: bold;
    color: #00697A;
}
